@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link {
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 4px;
}

.header-link.active {
  color: #22c55e;
}

.header-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 2px;
  background-color: #22c55e;
}
